<div class="coolbackground">
    <section class="mx-0 pt-5 text-center bg-dark bg-opacity-75">
        <div class="row">
            <div class="col-3 p-3 mx-auto bg-white bg-opacity-25 rounded-3">
                <h1 class="text-primary">Search '{{search}}'</h1>
                <p class="lead text-primary">found {{amount}} results</p>
                {{!-- <p>selector would be here</p> --}}
                <ul id="search-filter-rating" name="search-filter-rating">
                    <li rating="0">rating</li>
                    <li rating="10">10</li>
                    <li rating="8">8</li>
                    <li rating="6">6</li>
                    <li rating="4">4</li>
                    <li rating="2">2</li>
                </ul>
                <ul id="search-filter-runTime" name="search-filter-runTime">
                    <li runTime="0">Run Time</li>
                    <li runTime="1">90 minutes -</li>
                    <li runTime="2">90 minutes +</li>
                </ul>
            </div>
        </div>
    </section>
    <div class="py-5 bg-dark bg-opacity-75">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <!--single movie card-->
                {{#each movie}}
                    <a href="/movie/{{this._id}}" id="{{this.name}}" class="search-single-movie" rating="{{this.rating}}" runTime="{{this.runtime}}">
                        <div class="col">
                            <div class="card shadow-sm card-zoom">
                                <img class="bd-placeholder-img card-img-top" alt="this.name" width="100%" height="600"
                                     src="{{this.poster}}">
                                <div class="card-body">
                                    <p class="card-text text-center fs-5 fw-bold">{{this.name}}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                {{/each}}

            </div>
        </div>
    </div>
</div>